// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #131313;
$color-info: #1c5d99;
$color-primary: #00ffee;
$color-text: #f1f8fc;


.footer{
    position: relative;
    background-color: $color-bg;
    min-height: 8rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 -0.5rem 0.6rem rgba(0, 255, 238, 0.2);

        .social-link{
            font-size: 1.563rem;
            color: $color-primary;
            border: 0.125rem solid $color-primary;
            width: 2.2rem;
            height: 2.2rem;
            line-height: 2.2rem;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 0.625;
            transition: 0.3s ease-in-out;

            &:hover{
                transform: scale(1.2)translateY(-0.625rem);
                background-color: $color-primary;
                color: $color-bg;
                box-shadow: 0 0 1.563rem $color-primary;
            }
        }
        .no-wrap{
            white-space: nowrap;
        }
        .divider{
            width: 75%;
            height: 2px;
            background-color: #00ffee;
        }
        .footer-text{
            position: relative;
            display: inline-block;
            font-family: "Poppins", sans-serif;
            font-size: 0.9rem;
            font-weight: 500;
            text-decoration: none;
            color: $color-text;
            transition: text-shadow 0.4s ease, color 0.4s ease,
                        font-size 0.4s ease, color 0.4s ease;
            

            &:hover{
                color: $color-primary;
                text-shadow:
                    0 0 5px $color-primary,
                    0 0 10px $color-primary,
                    0 0 20px $color-primary,
                    0 0 40px $color-primary;
                cursor: pointer;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: $color-primary;
                transition: width 0.3s ease, left 0.3s ease;
            }

            &:hover::after,
            &:focus::after {
                color: $color-primary;
                left: 0;
                width: 100%;
            }

            a.active {
                text-decoration: underline;
            }
        }
}