<div class="footer">
    <div class="container d-flex flex-column align-items-center justify-content-center mt-5 pt-4 px-0">
        <div class="socials my-3">
            <a class="social-link mx-4" href="#">
                <i class="bx bxl-linkedin"></i>
            </a>
            <a class="social-link mx-4" href="#">
                <i class="bx bxl-github"></i>
            </a>
            <a class="social-link mx-4" href="#">
                <i class="bx bxl-instagram"></i>
            </a>
        </div>
        <div class="divider my-3"></div>
        <div class="footer-notices display-bloc text-center my-3">
            <a class="footer-links no-wrap mx-4" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span class="footer-text">Accueil</span>
            </a>
            <a class="footer-links no-wrap mx-4" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span class="footer-text">Mes Projets</span>
            </a>
            <a class="footer-links no-wrap mx-4" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span class="footer-text">Contactez moi</span>
            </a>
        </div>
        <p class="copyright mt-2">
            <small>© Lucas Nayet | Icones par 
                <a class="footer-links" href="https://icones8.fr/">
                    <span class="footer-text">icons8.com</span>
                </a>
            </small>
        </p>
    </div>
</div>