<section class="home container-fluid" id="home">
    <div class="home-content row align-items-center justify-content-center text-center text-lg-start">
        <div class="col-12 col-lg-6 order-2 order-lg-1 pe-lg-5 px-5 mx-lg-0">
            <h1 class="mt-4">Bonjour, je m'appelle <span>Lucas</span></h1>
            <h3 class="text-animation">Je suis <span class="typing"></span><span class="cursor">|</span></h3>
            <p class="presentation mb-4">
                Passionné par l'informatique et les nouvelles technologies, j’ai choisi de me former au
                <strong>développement web et web mobile full stack</strong> au CEF (Centre Européen de Formation).
            </p>
            <p class="presentation mb-4">
                Cette formation m’a permis d’acquérir des bases solides pour concevoir et réaliser des
                <strong>sites et applications modernes, performants et responsives.</strong>
            </p>
            <!-- <p class="presentation mb-4">
                Je suis actuellement à la recherche d’un poste de développeur web où je pourrai mettre à profit mes compétences techniques,
                mon sens de la logique et ma capacité d’analyse pour relever de nouveaux défis.
            </p>
            <p class="presentation">
                Curieux, rigoureux et attentif aux bonnes pratiques, j’accorde une grande importance à la qualité du code,
                à l’optimisation et à la maintenabilité des projets sur lesquels je travaille.
            </p> -->
            <div class="social-icons d-flex justify-content-center mb-4 mt-5">
                <a class="social-link mx-4" href="#">
                    <i class="bx bxl-linkedin"></i>
                </a>
                <a class="social-link mx-4" href="#">
                    <i class="bx bxl-github"></i>
                </a>
                <a class="social-link mx-4" href="#">
                    <i class="bx bxl-instagram"></i>
                </a>
            </div>
        </div>
        <div class="home-img col-8 col-lg-4 d-flex justify-content-center order-1 order-lg-2 m mb-4 mb-lg-0 ms-lg-5">
            <img class="photo img-fluid" src="assets/images/photo.png" alt="Photo de Lucas Nayet" role="img">
        </div>
    </div>
</section>