// Variables

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$spacing-unit: 1rem !default;

$color-bg: #131313;
$color-second-bg: rgba(0, 0, 0, 0.3);
$color-info: #1c5d99;
$color-primary: #00ffee;
$color-text: #f1f8fc;


header{
    background: $color-second-bg;
    backdrop-filter: blur(0.625rem);
}